@media (max-width:897px) {
 .menu_item{
  font-size: 15px;
 }
 .introduction_myphoto img {
  max-width: 250px;
 }
 .introduction_aboutme h1{
 font-size: 25px;
 }
 .introduction_aboutme h3{
  font-size: 20px;
 }
 .introduction_aboutme p{
  font-size: 14px;
 }
 .portfolio h3{
  font-size: 20px;
 }
 .contacts_conteiner h3{
  font-size: 20px;
 }
 .contacs_items_phone a{
  font-size: 15px;
 }
 .contacs_items_gmail a{
  font-size: 15px;
 }
}

@media (max-width:776px) {
 .menu_items {
  display: none;
 }

 .burger_menu {
  display: flex;
 }

 .burger_menu_header {
  position: relative;
  width: 35px;
  height: 24px;
  display: block;
  margin-right: 20px;
 }

 .burger_menu_header span {
  height: 2px;
  top: 11px;
  width: 100%;
  position: absolute;
  background: #2c232e;
  margin: 0 auto;
 }

 .burger_menu_header:before {
  content: '';
  top: 4px;
  height: 2px;
  width: 100%;
  position: absolute;
  background: #2c232e;
  margin: 0 auto;
 }

 .burger_menu_header:after {
  content: '';
  bottom: 4px;
  height: 2px;
  width: 100%;
  position: absolute;
  background: #2c232e;
  margin: 0 auto;
 }

 .burger_menu_items {
  position: absolute;
  z-index: 10;
  top: 90px;
  right: -100%;
  width: 50%;
  height: 250px;

  transition: all 0.4s ease;
 }

 .burger_menu_items.open-menu {
  right: 0;
 }

 .burger_menu_header.open-menu span {
  opacity: 0;
  transition: 0.5s;
 }

 .burger_menu_header.open-menu:before {
  transform: rotate(40deg);
  top: 11px;
  transition: 0.4s;
 }

 .burger_menu_header.open-menu:after {
  transform: rotate(-40deg);
  bottom: 11px;
  transition: 0.4s;
 }

 body.fixed-page {
  overflow: hidden;
 }
}

@media (max-width:576px) {
 .portfolio_example_box_mini_button a{
  font-size: 14px;
  padding: 15px 10px;
 }
 .portfolio_example_box_mini_text p{
  font-size: 15px;
 }
}

@media (max-width:480px) {
 .menu_item{
  font-size: 15px;
 }
.introduction {
flex-direction: column-reverse;
}
 .introduction_myphoto img {
  max-width: 270px;
 }
 .introduction_aboutme h1{
 font-size: 20px;
 line-height: 17px;
 }
 .introduction_aboutme h3{
  font-size: 15px;
 }
 .introduction_aboutme p{
  font-size: 12px;
 }
 .portfolio h3{
  font-size: 15px;
 }
 .contacts_conteiner h3{
  font-size: 15px;
 }
 .contacs_items_phone a{
  font-size: 13px;
 }
 .contacs_items_gmail a{
  font-size: 13px;
 }
 .contacs_items_phone img {
  width: 20px;
 }
 .contacs_items_gmail img {
  width: 18px;
  height: 18px;
 }
 .contacs_items_viber img {
  width: 25px;
 }
 
 .contacs_items_telegram img {
  width: 25px;
 }
 
 .contacs_items_linkedin img {
  width: 25px;
 }
}